.form-control{
    margin-top:30px;
    height: 100px;
    min-width:400px;
    font-size: 2rem;

    border:5px solid gray;
    border-radius: 20px;
    font-weight: medium;
    text-align: center;

  }
  .date-display{ 
    font-weight: medium;
    font-size: 2rem;
  }
  input:hover,input:focus{ 
    transition: ease-in-out 1.2s;
    border:5px solid green;
  }
